$primary-color: #184392;
$primary-color-light: #3e69ad;
$secundary-color: #3fb5e3;


$brand-primary: $primary-color;


$font-family-sans-serif:  "Droid Sans", Helvetica, Arial, sans-serif !default;
$header-font-family: 'Oswald', sans-serif;




